.barra{
    background-color: rgb(50, 122, 255);
    height: 100px;
    color: white;
    margin-top: -2%;
    margin-left: -2%;
    width: 150%;
}

h1{
    margin-left: 43%
}

.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
}