body {
    background-color: #f5f4f9;
    justify-content: center;
}

.arriba {
    background-color: #0d6efd;
    color: white;
    font-size: 40px;
    width: 101%;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: -8px;
    margin-left: -11px;
}

.centrar {
    width: 100%;
    display: flex;
    justify-content: center;
}

table {
    width: 50%;
    border-collapse: collapse;
}

th {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

td {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    text-align: center;
}

thead {
    background-color: #0d6efd;
    color: white;
}

.subtitulo {
    color: #868686;
    font-size: 14px;
    text-align: center;
    margin-top: 50px;
}