body{
    background-color: rgb(211, 209, 209);
    align-items: center;
    justify-content: center;
}
table{
    width: 1000px;      
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    background-color: rgb(230, 226, 223);
    border-collapse: collapse;
    text-align: center;
}
.titulo{
    background-color: rgb(34, 33, 33);
    font-size: 50px;
    color: aliceblue;
    align-content: center;
    text-align: center;
    width: auto;
    height: 15%;
    margin-top: -15px;
    margin-left: -70px;

}
.negro{
    background-color: black;
    color: white;
    font-weight: bold;

}
.gris{
    color: rgb(104, 101, 101);
    text-align: center;
    margin-top: 50px;
}

.sombra{
    box-shadow:  2px 2px 5px black;;
}
.display{
    display: flex;
}
.margen{
    margin-left: 750px;
    margin-top:50px;
    margin-bottom: -20px;
}