/* body {
    background-image: url("https://i.ytimg.com/vi/bUueAu0CvKM/maxresdefault.jpg");
    background-repeat: no-repeat;
}*/

table.container {
    position: relative;

    width: 500px;
    height: fit-content;

    margin: auto;
}

table.container tr.info {
    color: white;
    background-color: black;
}

table.container tr {
    color: white;
    background-color: rgba(97, 97, 97, 0.795);

    text-align: center;
}

table.container tr td {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}


table.container > tr > td {
    padding-left: 20px;
}