
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    padding: 40px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    font-weight: 500;
    
}

.buscar {
    display: block;
    margin: 0 auto 25px auto;
    padding: 10px 15px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
   
}

.buscar:focus {
    outline: none;
    border: 1px solid #667;
}

table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: rgb(216, 182, 255);
    border-radius: 8px;
    overflow: hidden;
}

thead {
    background-color: #222;
    color: white;
}

th {
    padding: 12px;
    font-weight: 500;
    text-align: left;
}

td {
    padding: 12px;
    border-bottom: 1px solid #eee;
}



tbody tr:last-child td {
    border-bottom: none;
}

