body{
    background-color: rgb(255, 255, 255);
    margin: 0;
}

.Titulo{
    background-color: #0d6efd;;
    height: 45px;
    text-align: center;
    padding-top: 15px;
}

label{
    color: white;
    font-family: Helvetica;
    font-size: 25px;
    font-weight: bold;
}

th{
    width: 300px;
    height: 40px;
    background-color: #ff7a45;
    color: white;
}

td{
    height: 60px;
}

table{
    font-size: 20px;
    margin-top: 75px;
    justify-self: center;  
    text-align: center; 
    box-shadow: 0px 5px 5px 2px rgba(128, 128, 128, 0.114);
}

p{
    font-size: 14px;
    font-family: Helvetica;
    color: rgb(107, 104, 104);
    justify-self: center;
    margin-top: 25px;
}

.Buscador{
    display: flex;
    margin-left: 40%;
    margin-top: 80px;
}

button{
    width: 70px;
    height: 30px;
}

input{
    width: 400px;
    height: 30px;
   
}
