body
{

    background-color: #e7e7e7;

}
.contenido
{

    text-align: center;
    align-items: center;
    align-self: center;
    margin-inline: auto;
    width: max-content;

}
.tabla
{

    background-color: white;

}
.thead
{

    background-color: #646464;
    color: white;

}
td
{

    text-align: center;
    min-width: 135px;

}